<p class="text-danger">Protected Path</p>
<h1>Details of currently logged in user</h1>
<div class="container">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">User ID</span>
    </div>
    <input
      type="text"
      class="form-control mr-1"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      [value]="currentUser.id"
      readonly
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Email</span>
    </div>
    <input
      placeholder="User Email"
      maxlength="100"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      [value]="currentUser.email"
      readonly
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
    </div>
    <input
      placeholder="Name of the user"
      maxlength="100"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      [value]="currentUser.name"
      readonly
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Registration date</span>
    </div>
    <input
      placeholder="Registration Time stamp"
      maxlength="100"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      [value]='registrationDateStr | date: "HH:mm:ss dd/MM/yy"'
      readonly
    />
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Token expiration date</span>
    </div>
    <input
      placeholder="Token Expiration Time stamp"
      maxlength="100"
      type="text"
      class="form-control"
      aria-label="Default"
      aria-describedby="inputGroup-sizing-default"
      [value]='tokenExpDateStr | date: "HH:mm:ss dd/MM/yy"'
      readonly
    >
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Token (JWT)</span>
    </div>
    <textarea
      rows="5"
      class="form-control"
      aria-label="User biography"
      aria-describedby="inputGroup-sizing-default"
      [value]="currentUser.token"
      readonly
    ></textarea>
  </div>
</div>
